<div class="game__settings-grid">
  <div class="game__settings-col game__settings-col--fw game__settings-heading">
    Settings
  </div>
  <div class="game__settings-col game__settings-col--fw game__settings-presets">
    <select id="presets"></select>
  </div>
  <div
    class="game__settings-col game__settings-col--fw game__settings-subheading"
  >
    Starting Conditions
  </div>
  <div class="game__settings-col">
    <label for="tower">Tower:</label>
    <input type="number" id="tower" min="0" max="999" />
  </div>
  <div class="game__settings-col">
    <label for="wall">Wall:</label>
    <input type="number" id="wall" min="0" max="999" />
  </div>
  <div class="game__settings-col">
    <label for="quarries">Quarries:</label>
    <input type="number" id="quarries" min="0" max="999" />
  </div>
  <div class="game__settings-col">
    <label for="bricks">Bricks:</label>
    <input type="number" id="bricks" min="0" max="999" />
  </div>
  <div class="game__settings-col">
    <label for="magic">Magic:</label>
    <input type="number" id="magic" min="0" max="999" />
  </div>
  <div class="game__settings-col">
    <label for="gems">Gems:</label>
    <input type="number" id="gems" min="0" max="999" />
  </div>
  <div class="game__settings-col">
    <label for="dungeons">Dungeons:</label>
    <input type="number" id="dungeons" min="0" max="999" />
  </div>
  <div class="game__settings-col">
    <label for="recruits">Recruits:</label>
    <input type="number" id="recruits" min="0" max="999" />
  </div>
  <div
    class="game__settings-col game__settings-col--fw game__settings-subheading"
  >
    Victory Conditions
  </div>
  <div class="game__settings-col">
    <label for="tower-victory">Tower:</label>
    <input type="number" id="tower-victory" min="0" max="999" />
  </div>
  <div class="game__settings-col">
    <label for="resource-victory">Resource:</label>
    <input type="number" id="resource-victory" min="0" max="999" />
  </div>
</div>
